altgraph
backoff
bump2version
colorama
infi.systray
loguru
packaging
pefile
psutil
pygame
pyinstaller
pyinstaller-hooks-contrib
pypiwin32
python-dateutil
pywin32
pywin32
six
win11toast
win32-setctime
